.monster-section{
  position: fixed;
  left: 30px;
  right: 30px;
  top: -100px;
}

.monster-box{
  border: 2px solid #bdbdbd;
  width: 80%;
  height: 75px;
  background-color: #ff5252;
}

.gauge-icon{
  position: absolute;
}
