<div class="nav-header-box" [ngClass]="{'nav-header-box-darkmode' : darkmode.isDarkmode}">
  <div class="col s12 offset-s2 nav-header-title valign-wrapper">
    <div >
      Nuit de l'info
    </div>
    <i *ngIf="darkmode.isDarkmode" (click)="darkmode.toggleDarkmode()" class="material-icons last-item darkmode-icon">brightness_5</i>
    <i *ngIf="!darkmode.isDarkmode" (click)="darkmode.toggleDarkmode()" class="material-icons last-item darkmode-icon">brightness_2</i>
  </div>
</div>

<div class="page-background" [ngClass]="{'page-background-darkmode' : darkmode.isDarkmode}">

</div>
