<app-nav-header></app-nav-header>

<div class="home-page-box flexbox-column-spc-evenly">
  <app-gauge></app-gauge>
  <app-monster></app-monster>
  <!-- Section du haut -->
  <div class="middle-item path-sections flexbox-row-spc-evenly">
    <div class="top-section flexbox-column-spc-evenly" [style.backgroundImage]="getPathOptionImage(0)" [style.backgroundSize]="'cover'">
      <div class="middle-item-nogrow text-path-option" [style.backgroundColor]="'rgba(255,255,255,0.4)'">
        {{path.pathOptions[0][0].toUpperCase() + path.pathOptions[0].slice(1)}}
      </div>
      <div class="middle-item-nogrow mini-action-box center-vertically"(click)="explorePathOption(0)"> 
        {{stat.language === 'français' ? "S'y aventurer" : "Aweille là, let's go!" }}
      </div>
    </div>
    <div class="top-section flexbox-column-spc-evenly" [style.backgroundImage]="getPathOptionImage(1)" [style.backgroundSize]="'cover'">
      <div class="middle-item-nogrow text-path-option" [style.backgroundColor]="'rgba(255,255,255,0.4)'">
          {{path.pathOptions[1][0].toUpperCase() + path.pathOptions[1].slice(1)}}
      </div>
      <div class="middle-item-nogrow mini-action-box center-vertically"(click)="explorePathOption(1)">
        {{stat.language === 'français' ? "S'y aventurer" : "Aweille là, let's go!" }}
      </div>
    </div>
    <div class="top-section flexbox-column-spc-evenly" [style.backgroundImage]="getPathOptionImage(2)" [style.backgroundSize]="'cover'">
      <div class="middle-item-nogrow text-path-option" [style.backgroundColor]="'rgba(255,255,255,0.4)'">
          {{path.pathOptions[2][0].toUpperCase() + path.pathOptions[2].slice(1)}}
      </div>
      <div class="middle-item-nogrow mini-action-box center-vertically"(click)="explorePathOption(2)">
        {{stat.language === 'français' ? "S'y aventurer" : "Aweille là, let's go!" }}
      </div>
    </div>
  </div>
  <!-- Section du bas -->
  <div class="middle-item action-sections flexbox-row-spc-evenly">
    <div class="center-item bottom-section flexbox-row-spc-evenly" *ngFor="let action of path.explorationData.actionList; let actionIndex = index" [style.backgroundSize]="'cover'"
	   [style.backgroundImage]="'url(bg-img/' + path.explorationData.actionTextList.image[action][stat.language] + ')'">
      <div class="action-box center-item tooltip flexbox-row-spc-evenly" (click)="doAction(action)" *ngIf="getActionValid(action)">
        {{action[0].toUpperCase() + action.slice(1)}}
        <div class="tooltiptext">
          {{path.explorationData.actionTextList[stat.language][action].tooltiptext}}
          </div>
      </div>
    </div>
  </div>
</div>

<div [class.show-cover]="fadeIn" class="hide-cover"> 
  <div *ngIf="show" class="cover" (click)="onModalClose()">
  </div>
</div>

<div [class.fixed-modal-card]="fadeIn" class="start-modal-card">
    <div *ngIf="show" class="card overlay-card">
      <div class="flexbox-column-start">
        <div class="first-item-nogrow" *ngFor="let result of actionResults">
          <div class="middle-item result">
            {{result}}
          </div>
        </div>
      </div>
    </div>
  </div>
