.home-page-title{
    margin-top: 150px;
    font-size: 24pt;
}

.home-page-box{
    position: fixed;
    height: 100%;
    background: black;
    width: 100%;
}

.path-sections{
    height: 50%;
    background-color: #eceff1;
}

.top-section{
    height: 100%;
    width: 100%;
    border-color: #cfd8dc;
    border-width: 2px;
    border-style: solid;
}

.action-sections{
    height: 50%;
    background-color:#eceff1;
}

.bottom-section{
    height: 100%;
    width: 100%;
    border-color: #cfd8dc;
    border-width: 2px;
    border-style: solid;
}

.action-box{
    width: 300px;
    height: 75px;
    background-color: #fce4ec;
    border: 4px solid #ff80ab;
    border-radius: 20px;
}