<app-nav-header></app-nav-header>

<div class="col s12 home-page-box">
  <!-- Section du haut -->
  <div class="col s12 path-sections valign-wrapper">
    <div class="col s4 first-item top-section valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
    </div>
    <div class="col s4 middle-item top-section valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
    </div>
    <div class="col s4 last-item top-section valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
    </div>
  </div>
  <!-- Section du bas -->
  <div class="col s12 action-sections valign-wrapper">
    <div class="col s4 first-item bottom-section valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
    </div>
    <div class="col s4 middle-item bottom-section valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
    </div>
    <div class="col s4 last-item bottom-section testR valign-wrapper">
      <div class="middle-item center-item">
        
      </div>
   </div>
  </div>
</div>